body {
    background-color: #1a1a1a;
    color: #fffef1;
    font-family: "Inter";
    max-width: 850px;
    margin: 0 auto;
}

a {
    color: #fffef1;
}

#about, #why, #price, #intro, #transparency, #donate {
    margin-bottom: 50px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-right {
    display: flex;
    gap: 10px;
}

button {
    display: inline-block;
    background-color: #fffef1;
    color: #1a1a1a;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1rem;
    padding: 0.7em 2.0em;
    border-radius: 900px;
    box-shadow: 0 2px 8px 0 rgba(255, 254, 217, 0.1)
}